/* CSS for Dropdown Menu */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 2.5rem 0;
}

#logo-container {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #989898; /* Background color for the dropdown menu */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for a more stylish look */
    padding: 10px;
    list-style: none;
  }
  
  .dropdown-item {
    margin: 0;
    padding: .25rem;
  }
  
  /* Show the dropdown menu when the parent list item is hovered */
  li:hover .dropdown, .dropdown-item:hover {
    display: block;
  }

  .navbar__links {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  footer {
    background-color: #989898;
  }

  .footer__link {
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }

  .footer__link h4{
    color: #000;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  