/* CSS for Dropdown Menu */
.dropdown {
    display: none;
    position: absolute;
    background-color: #9898987f; /* Background color for the dropdown menu */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for a more stylish look */
    padding: 10px;
    list-style: none;
  }
  
  .dropdown-item {
    margin: 0;
    padding: .25rem;
  }
  
  /* Show the dropdown menu when the parent list item is hovered */
  li:hover .dropdown, .dropdown-item:hover {
    display: block;
  }
  